* {
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.language {
    color: gray;
}

.about-me a {
    color: black;
    font-weight: bold;
}

.container {
    width: 100vw;
    height: 100vh;

    background: rgb(0, 64, 48);
    background: linear-gradient(
        315deg,
        rgba(0, 64, 48, 1) 0%,
        rgba(0, 191, 143, 1) 100%
    );

    display: grid;
    place-items: center;
}

.content {
    background: rgb(222, 222, 222);
    background: -moz-linear-gradient(
        0deg,
        rgba(222, 222, 222, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(222, 222, 222, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
        0deg,
        rgba(222, 222, 222, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dedede",endColorstr="#ffffff",GradientType=1);

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    max-height: 450px;
    max-width: 450px;

    padding: 25px;

    border-radius: 25px;

    text-align: center;
}

.content:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.propic {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.language * {
    font-weight: bold;
    color: gray;
}

.resume {
    color: white;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 10px;
    padding: 10px;
    width: 125px;
    background: #008060;
}
.resume * {
    margin: 5px;
}

.about-me {
    text-align: left;
}

.contact a {
    color: grey;
    margin: 5px;
}

.fa-linkedin-in:hover {
    color: #0e76a8;
}

.fa-github-alt:hover {
    color: #161414;
}

.fa-envelope:hover {
    color: #d64c3c;
}

.fa-twitter:hover {
    color: #1da0f1;
}

.fa-medium-m:hover {
    color: #040404;
}
