@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-serif: "Inter Variable";
    --font-sans: "Inter Variable";
    --font-mono: "Roboto Mono Variable";
  }

  ::-webkit-scrollbar-corner {
    @apply bg-[#00000000];
  }
}

@layer components {
  :root {
    @apply font-light;
  }

  .beoe-dark,
  .beoe-light {
    @apply mx-0 my-auto;
  }

  article {
    @apply max-w-3xl overflow-hidden;


    p {
      @apply my-4 leading-relaxed;
    }


    h1 {
      @apply my-4 text-xl font-bold dark:text-neutral-50;
    }

    h2 {
      @apply my-4 text-lg font-bold dark:text-neutral-50;
    }

    h3,
    h4,
    h5,
    h6 {
      @apply my-4 font-bold dark:text-neutral-50;
    }

    :not(pre)>code {
      @apply whitespace-nowrap rounded bg-neutral-200/50 px-1 py-0.5 font-mono text-sm font-normal text-neutral-950 dark:bg-neutral-800/50 dark:text-neutral-50;
    }

    pre:has(code) {
      @apply my-4 max-h-[40rem] overflow-auto rounded-lg p-4 font-mono;
    }

    img {
      @apply my-4 rounded-lg border dark:border-neutral-600;
    }

    video {
      @apply my-4 rounded-lg border dark:border-neutral-600;
    }

    blockquote {
      @apply my-4 border-l-8 rounded-lg pl-4 bg-neutral-100 dark:bg-neutral-800 py-4 border-neutral-200 dark:border-neutral-700;

      p {
        @apply my-0;
      }
    }

    a {
      @apply text-teal-600 dark:text-teal-500 underline;
    }

    table {
      @apply my-4 w-full table-auto border-collapse text-sm rounded-lg border-none bg-neutral-50 dark:bg-neutral-800;

      tr:last-child td:first-child,
      tr:last-child td:last-child {
        @apply rounded-lg;
      }

      th {
        @apply rounded-lg border-b p-4 text-left font-bold border-none bg-neutral-50 dark:bg-neutral-800;
      }

      td {
        @apply border-b bg-neutral-50 p-4 border-none dark:bg-neutral-800;

        code {
          @apply bg-neutral-200 dark:bg-neutral-700 font-normal;
        }
      }

    }

    ol {
      @apply my-1 list-inside list-decimal space-y-1 [&_ol]:pl-5 [&_ul]:pl-5;

      li {
        p {
          display: inline;
        }
      }
    }

    ul {
      @apply my-1 list-inside list-disc space-y-1 [&_ol]:pl-5 [&_ul]:pl-5;
    }

    ol,
    ul {
      @apply mx-0 my-0 inline;
    }

    kbd {
      @apply rounded border border-b-2 bg-neutral-100 px-1 py-0.5 font-mono text-xs font-normal text-neutral-950 dark:border-neutral-600 dark:bg-neutral-800 dark:text-neutral-50;
    }

    mark {
      @apply dark:bg-yellow-500/50 dark:text-neutral-50;
    }

    .katex-html {
      @apply overflow-x-auto overflow-y-hidden;
    }


    .beoe-dark,
    .beoe-light {
      @apply flex justify-center;
    }


    :root.dark span.edgeLabel .labelBkg,
    :root.dark span.edgeLabel,
    :root.dark span.edgeLabel p {
      @apply bg-[#171717] border-none text-[#d3d3d3];
    }
  }

  :root:not(.dark) .beoe-dark,
  :root.dark .beoe-light {
    @apply hidden;
  }


  /* body::-webkit-scrollbar {
    @apply w-4 bg-neutral-700 rounded;
  }

  body::-webkit-scrollbar-track {
    @apply
  } */
}