@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-serif: "Inter Variable";
    --font-sans: "Inter Variable";
    --font-mono: "Roboto Mono Variable";
  }

  .beoe-dark,
  .beoe-light {
    margin: 0 auto;
  }


  body {
    font-weight: 300 !important;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}

@layer components {
  article {
    p {
      @apply my-4 leading-relaxed;
    }

    h1 {
      @apply my-4 text-xl font-medium dark:text-white;
    }

    h2 {
      @apply my-4 text-lg font-medium dark:text-white;
    }

    h3,
    h4,
    h5,
    h6 {
      @apply my-4 font-medium dark:text-white;
    }

    :not(pre)>code {
      @apply whitespace-nowrap rounded bg-neutral-200/50 px-1 py-0.5 font-mono text-sm font-medium text-neutral-950 dark:bg-neutral-800/50 dark:text-neutral-50;
    }

    pre:has(code) {
      @apply my-4 max-h-[600px] overflow-auto rounded-lg p-4 font-mono text-sm font-medium;
    }

    img {
      @apply my-4 rounded-lg border dark:border-neutral-600;
    }

    video {
      @apply my-4 rounded-lg border dark:border-neutral-600;
    }

    blockquote {
      @apply my-4 border-l-8 rounded-lg pl-4 bg-neutral-100 dark:bg-neutral-800 py-4 border-neutral-200 dark:border-neutral-700;

      p {
        @apply my-0;
      }
    }

    a {
      @apply text-indigo-600 dark:text-sky-500 underline;
    }

    table {
      @apply my-4 w-full table-auto border-collapse text-sm rounded-lg border-none bg-neutral-50 dark:bg-neutral-800;

      tr:last-child td:first-child,
      tr:last-child td:last-child {
        @apply rounded-lg;
      }

      th {
        @apply rounded-lg border-b p-4 text-left font-medium border-none bg-neutral-50 dark:bg-neutral-800;
      }

      td {
        @apply border-b bg-neutral-50 p-4 border-none dark:bg-neutral-800;
      }

    }

    ol {
      @apply my-1 list-inside list-decimal space-y-1 [&_ol]:pl-5 [&_ul]:pl-5;
    }

    ul {
      @apply my-1 list-inside list-disc space-y-1 [&_ol]:pl-5 [&_ul]:pl-5;
    }

    ol,
    ul {
      p {
        margin: 0 !important;
        display: inline;
      }
    }

    kbd {
      @apply rounded border border-b-2 bg-neutral-100 px-1 py-0.5 font-mono text-xs font-medium text-black dark:border-neutral-600 dark:bg-neutral-800 dark:text-white;
    }

    mark {
      @apply dark:bg-yellow-500/50 dark:text-white;
    }
  }
}

:root:not(.dark) .beoe-dark,
:root.dark .beoe-light {
  display: none;
}

.beoe-dark,
.beoe-light {
  display: flex;
  justify-content: center;
}

:root.dark span.edgeLabel .labelBkg,
:root.dark span.edgeLabel,
:root.dark span.edgeLabel p {
  background-color: #171717 !important;
  border-width: 0px !important;
  color: #d3d3d3 !important;
}


/* margin: 0 auto; */
.katex,
.katex * {
  display: inline-block;
  max-width: 100% !important;
}


/* >  >  > .katex-html > .base */
/* .katex-display {
  overflow-x: scroll;
} */