---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex max-w-xl flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      Hi! I am <b>Enzo Shiraishi</b>. I am a scientist with over four years of
      experience, specializing in Transformers and Language Models.
    </p>
    <p>
      I am currently developing the busiest chatbot of Latin America at Itaú,
      its biggest bank and main company of the biggest financial conglomerate in
      the Southern Hemisphere.
    </p>
    <p>
      I am passionate about contributing to the AI community, and I strive to do
      so by investigating the “why” to every “how” in this process.
    </p>
  </main>
</Layout>
