---
import { EMAIL } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="mb-6 flex items-center justify-between" transition:name="header">
  <nav class="flex items-center gap-4">
    <a href="/posts"> Posts </a>
    <a href="/"> About me </a>
    <a href={`mailto:${EMAIL}`}>Contact</a>
  </nav>
  <ThemeToggle />
</header>

<style>
  a {
    @apply font-medium text-neutral-500 hover:text-neutral-900 hover:underline dark:hover:text-neutral-100;
  }
</style>
